body {
  color: #cee;
  background-color: #122
}

h1 {
  text-align: center;
  font-family: "Helvetica", sans-serif;
  font-size: 40px;
}

button {
  height: 30px;
  width: 200px;
  font-size: 20px;
  border-radius: 3px;
  border-style: none;
  margin: 20px 0px;
}

button:hover {
  opacity: 0.8;
}

.simulation-container {
  width: 90%;
  margin: auto;
}

.elevator-shaft {
  position: relative;
  display: inline-block;
  margin: 5px;
  border-style: none;
  border-radius: 5px;
  background-color: #494;
}

.elevator {
  display: block;
  position: absolute;
  border-style: none;
  border-radius: 5px;
  background-color: #333;
  width: 50px;
  height: 50px;
}
